@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

h2 {
    color: #edf0f1;
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,168,0.8);
}
